/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.top-bar-left-sec a{
    text-decoration: none;
}
.top-bar-left-sec .storename{
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 0;
}
.fl-page-bar-row.row{
    display: flex;
    align-items: center
}

.top-bar-left-sec .storename .phone a::before{
    content: "\f095";
    font-size: 20px;
    color: #fff; 
    font: normal normal normal 14px/1 FontAwesome;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    margin-right: 5px;
    vertical-align: bottom;
}
ul.social-icons li a i::before{
    /* color: #4b4c60; */
}
ul.social-icons li a i:hover,
ul.social-icons li a:hover,
ul.social-icons li a{
    color: #243161;
}
.facetwp-template .btn-grey a.fl-button{
    border: 1px solid;
}
.button-wrapper-default a:hover{
    background: #243161;
    border: 2px solid #243161;
} 
.gform_body li small em{
    color: #fff;
}
div.fl-module-uabb-gravity-form .uabb-gf-style input[type=tel]:active, 
div.fl-module-uabb-gravity-form .uabb-gf-style input[type=tel]:focus, 
div.fl-module-uabb-gravity-form .uabb-gf-style input[type=email]:active, 
div.fl-module-uabb-gravity-form .uabb-gf-style input[type=email]:focus, 
div.fl-module-uabb-gravity-form .uabb-gf-style input[type=text]:active, 
div.fl-module-uabb-gravity-form .uabb-gf-style input[type=text]:focus, 
div.fl-module-uabb-gravity-form .uabb-gf-style input[type=url]:focus, 
div.fl-module-uabb-gravity-form .uabb-gf-style input[type=url]:focus, 
div.fl-module-uabb-gravity-form .uabb-gf-style input[type=number]:focus, 
div.fl-module-uabb-gravity-form .uabb-gf-style input[type=number]:active, 
div.fl-module-uabb-gravity-form .uabb-gf-style input[type=date]:focus, 
div.fl-module-uabb-gravity-form .uabb-gf-style input[type=date]:active, 
div.fl-module-uabb-gravity-form .uabb-gf-style select:focus, 
div.fl-module-uabb-gravity-form .uabb-gf-style select:active, 
div.fl-module-uabb-gravity-form .uabb-gf-style textarea:active, 
div.fl-module-uabb-gravity-form .uabb-gf-style textarea:focus, 
div.fl-module-uabb-gravity-form .gform_wrapper .chosen-container-active.chosen-with-drop .chosen-single,
div.fl-module-uabb-gravity-form .gform_wrapper .ginput_container_select .chosen-container-active.chosen-with-drop .chosen-single{
    border-color: #243161;
}
.gform_wrapper .ginput_container.ginput_container_date input.medium{
    width: 100% !important;
}
.ginput_container.ginput_container_date{
    position: relative;
}
body .gform_wrapper .ginput_container.ginput_container_date img.ui-datepicker-trigger{
    position: absolute;
    top: 35px;
    right: 35px;
}
ul.sub-menu .uabb-menu-toggle{
    transform: rotate(270deg)
}

.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9; 
    background: #243161;
}
header#masthead .fl-row-fixed-width .fl-col-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gform_wrapper select option{
    background: #243161;
}
.fl-page-nav ul.sub-menu{
    border-top: 3px solid #243161 !important;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.menu-item >a:hover,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.menu-item >a:focus,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-ancestor>a, 
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-parent>a, 
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-item>a,
.gform_wrapper .gfield_required,
.fl-module-uabb-gravity-form .uabb-gf-style .gform_body .ginput_container_checkbox .gfield_checkbox input[type='checkbox']:checked + label:before{
    color: #243161 !important;
}
#field_23_8{
    width: 100%;
}
.gform_wrapper #field_23_8 .clear-multi .gfield_time_hour,
.gform_wrapper #field_23_8 .clear-multi .gfield_time_minute,
.gform_wrapper #field_23_8 .clear-multi .gfield_time_ampm{
    max-width: 6rem;
}

.gform_wrapper #field_23_8 .clear-multi .gfield_time_hour input,
.gform_wrapper #field_23_8 .clear-multi .gfield_time_minute input,
.gform_wrapper #field_23_8 .clear-multi .gfield_time_ampm select{
   width: 90%;
   padding: 0;
   text-align: center;
}
.gform_wrapper #field_23_8 .clear-multi .gfield_time_hour label,
.gform_wrapper #field_23_8 .clear-multi .gfield_time_minute label{
    color: #fff;
    text-align: center;
    width: 100%;
} 
.gform_wrapper #field_23_8 .clear-multi .gfield_time_hour i{
    color: #fff;
    margin-top: -2%;
}
#field_23_2,
#field_23_7{
    padding-right: 0;
}
#responsive-menu-additional-content .social-icons li{
    margin-right: 10px;
}
#responsive-menu-additional-content .social-icons li a{
    color: #fff; 
}
.container.fl-content-full {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}
input[type="checkbox"]::before,
input[type="radio"]::before{
    color: #c09b65 !important;
}

@media(max-width:1024px){
    .fl-page-bar,
    header .fl-module-uabb-advanced-menu, 
    .searchIcon,
    .header-social-icons .fl-module-content.fl-node-content {
        display: none;
    }
    .responsive-menu-open button#responsive-menu-button{
        position: fixed;
    }
    #responsive-menu-container #responsive-menu,
    #responsive-menu-container #responsive-menu ul{
        text-transform: uppercase;
    }
    .responsive-menu-open .storename{
        margin-bottom: 20px !important;
    }
    .responsive-menu-open .storename .phone a::before{
        content: "\f095";
        color: #fff; 
        font: normal normal normal 18px/1 FontAwesome;
        font-weight: 900;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        margin-right: 10px !important;
        vertical-align: bottom;
    }
    .responsive-menu-open .storename .phone a{
        color: #fff;
    } 
    #responsive-menu-container #responsive-menu-search-box, 
    #responsive-menu-container #responsive-menu-additional-content,
    #responsive-menu-container #responsive-menu-title{
        padding: 10px 5% !important;
    }
}
@media(max-width:768px){
   .fl-module-uabb-advanced-menu .uabb-creative-menu  ul#menu-flooring-menu{
    display: flex;
    flex-direction: column;
   }
   button#responsive-menu-button{
       top: 90px !important;
   }
   .fl-row-fixed-width .fl-col-small .fl-module-content.fl-node-content{
       margin: 20px 0;
   }
   .max-width-ssue{
       max-width: 400px !important;
       margin: 0 auto !important;
   }
}
@media(max-width:767px){
    button#responsive-menu-button{
        top: 50px !important;
    }
}

@media (max-width:500px){
    .fl-module-photo-gallery .uabb-photo-gallery-item,
    .fl-mosaicflow-col{
        width: 100% !important;
    }
    .form-heading h1{
        font-size: 32px;
    }
    .fl-builder-content div.fl-module-button  a.fl-button,
    .fl-builder-content div.fl-module-button a.fl-button:visited{
        font-size: 14px;
        letter-spacing: 0px;
    }
    button#responsive-menu-button {
        top: 40px !important;
    }
}
@media (max-width:320px){
    .default-form .max-width-ssue{
        max-width: 300px !important;
    }
}